* {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
}

.ll {
    margin-left: 80px;
}

.rr {
    margin-right: 80px;
}

.left {
    float: left;
}

.right {
    float: right;
}

li a {
    color: white;
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

img {
    width: 100%;
    height: 800px;
}

.second-nav {
    position: absolute;
    top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px;
}

ul.sn {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: white;
}

.snr {
    float: left;
    padding: 25px;
}

.snr a {
    color: black;
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

span {
    padding-top: 10px;
    display: block;
}

.text-s {
    font-size: 35px;
    margin-left: 6%;
}

.un {
    margin-left: 6%;
    text-decoration: underline;
}